# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Flask instance folder
instance/

# Environment variables
.env
.env.local

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/

# Logs
*.log 